@model IEnumerable<Country>
@{
    ViewData["Title"] = "Index";
}

<h1>Countries</h1>

<a class="btn btn-success" asp-controller="Countries" asp-action="Create">Add Country</a>
<table class="table">
    <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Name</th>
            <th scope="col"> </th>
            <th scope="col"> </th>
        </tr>
    </thead>
    <tbody>

        @{var i = 1;}
        @foreach (var item in Model)
        {
            <tr>
                <th scope="row">@i</th> @{i += 1;}
                <td>@item.Name</td>
                <td>
                    <a class="btn btn-info" asp-controller="Cities" asp-action="Index" asp-route-id="@item.Id">List of Cities</a> 
                    <a class="btn btn-success" asp-controller="Cities" asp-action="Add" asp-route-countryid="@item.Id">Add City</a></td>
                <td>
                    <a class="btn btn-danger" asp-action="Delete" asp-route-id="@item.Id">Delete</a> 
                    <a class="btn btn-warning" asp-action="Edit" asp-route-id="@item.Id">Edit</a>
                </td>
            </tr>
        }

    </tbody>
</table>